<Template>
    <title>{{ script.markdown-meta.page_title }} - Modulo.js</title>
    <nav class="page-nav u--container">
        <h1>{{ script.markdown-meta.page_title|upper }}</h1>
        <ul>
            <li>
                <a href="https://modulojs.org">
                    <img src="./static/images/modulo_logo.svg" alt="Modulo Percent Sign Logo" style="height: 100px" /><Br />
                    ModuloJS.org
                </a>
            </li>
            <li> <a href="/modulo-starter/">Modulo Starter</a> </li>
            <li> <a href="/modulo-studio/">Modulo Studio</a> </li>
            <li> <a href="/modulo-testsuite/">Modulo TestSuite</a> </li>
            <li> <a href="/htmlcli/"> HTMLCLI<br /> spec </a> </li>
        </ul>
    </nav>

    <main class="u--container">
        <div class="page-container">
            <div class="page-content">
                <section>{{ script.markdown-body|markdown|safe }}</section>
            </div>
        </div>
    </main>
</Template>

<Script>
    function initializedCallback(renderObj) { // Called when first mounted
        let markdownMeta = null;
        let markdownBody = null;
        const { originalHTML } = element; // Extract the mounting HTML
        if (originalHTML && originalHTML.startsWith('<script type=')) {
            markdownMeta = { Content: originalHTML };
            modulo.registry.processors.contentMD(modulo, markdownMeta, '');
            markdownBody = markdownMeta.body;
        }
        return { markdownMeta, markdownBody }
    }
</Script>

<Style>
    .page-container,
    .page-content,
    .page-nav,
    .page-nav a {
        display: block;
        background-color: var(--color);
        box-shadow:
            0 0 0 4px var(--color),
            -5px -5px 100px 3px inset var(--fg-shading),
            0 0 0 10px inset var(--color);
        border: 3px groove var(--color);
        border-radius: 8px;
        padding: 20px;
        margin: 4px;
        color: var(--fg);
    }
    .page-content {
        background-color:  var(--bg);
        box-shadow: none;
    }
    .page-container {
        margin-top: 20px;
        box-shadow:
            0 0 0 15px var(--color),
            -5px -5px 100px 3px inset var(--fg-shading),
            0 0 0 10px inset var(--color);
    }
    .page-nav {
        box-shadow: 0 0 0 100px var(--color);
    }
    .page-nav a {
        text-decoration: none;
        font-weight: bold;
        border-color: var(--bg-shading);
        background: var(--bg-shading);
        box-shadow: none;
        text-align: center;
    }
    .page-nav ul li:first-child {
        margin-right: auto;
    }
    .page-nav a:hover {
        border-color: var(--fg-shading);
    }
    .page-nav a:active,
    .page-nav a.nav--selected{
        border-color: var(--bg);
    }
    .page-nav ul {
        display: flex;
        margin: 0;
        align-items: baseline;
    }
    .page-nav li {
        list-style: none;
    }
    .page-nav h1 {
        color: var(--bg);
        margin: 0;
        padding: 0;
        font-size: 50px;
        margin-bottom: -60px;
        text-align: right;
    }

    .u--container {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 800px) 1fr;
        font-family: sans-serif;
    }
    .u--container > * {
        grid-column: 2;
    }


    @media (max-width: 992px) {
        /* Make it fit better on mobile */
        .page-nav ul { flex-wrap: wrap; }
        .page-container,
        .page-nav {
            padding: 4px;
            margin: 2px;
        }
    }
    @media (max-width: 576px) {
        .page-nav ul { display: block }
    }
</Style>
