/* <script src=../Modulo.html></script><style type=f> */

.page-container,
.page-content,
.page-article,
.page-nav a {
    display: block;
    border: 1px solid var(--fg-shading);
    border-radius: 8px;
    padding: 20px;
    margin: 4px;
    color: var(--fg);
}

.page-nav  {
    position: sticky;
    display: block;
    border-bottom: 1px solid var(--fg);
    background-color: var(--bg);
    top: 0;
    z-index: 10;
}

.page-nav a {
    text-decoration: none;
    background: var(--bg);
    font-family: sans-serif;
    font-weight: 500;
}

.page-article {
    position: relative;
    background: var(--bg);
}

.page-article-title {
    font-size: 38px;
    color: var(--fg);
}

.page-article:hover {
}

/* Utility class */
.u--blocklink {
    display: block;
}
.u--blocklink::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Layout */
.u--container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, var(--page-width)) 1fr;
    font-family: sans-serif;
}
.u--container > * {
    grid-column: 2;
}


/* Nav bar */
.page-nav a:hover {
    color: var(--color);
    border-color: var(--fg);
}

.page-nav a.nav-link--modulo {
    font-size: 50px;
    line-height: 0.5;
}

.page-nav a:active,
.page-nav a.nav--selected{
    border-color: var(--color);
}

.page-nav ul {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.page-nav li {
    list-style: none;
}


a.modulo-logo--alt {
    font-family: sans-serif;
    font-weight:500;
    padding: 0;
    margin: -10px 0 -10px 0;
    font-size: 65px;
    border-color: #ffffff00;
    background-color: #ffffff00;
}

a.modulo-logo {
    font-family: sans-serif;
    font-weight:500;
    margin-bottom:-80px;
    font-size: 65px;
    border:3px solid var(--fg);
    border-radius:0;
    width:75px;
    height:75px;
}

a.modulo-logo:hover {
    border-color: var(--color);
}

.a-hamburger  {
    top: 0;
    left: 0;
    background: var(--bg);
    color: var(--fg-shading);
    text-decoration: none;
    text-align: center;
    border: 3px groove var(--fg-shading);
    font-size: 60px;
    border-radius: 20px;
    width: 80px;
    height: 80px;
    display: none;
    word-wrap: break-word;
    padding: 0;
    z-index: 9;
}

.page-splash {
    font-size: 18px;
}
.page-splash h4 {
    font-size: 24px;
    color: var(--color);
    margin:0;
    padding:0;
}

@media (max-width: 992px) {
    /* Make it fit better on mobile */
    .page-container,
    .page-nav {
        padding: 4px;
        margin: 2px;
    }
}
@media (max-width: 576px) {
    .page-nav ul {
        display: block;
    }
    .page-nav  {
        position: relative;
    }
    .a-hamburger  {
        position: fixed;
        display: block;
    }
}
