<script src=../Modulo.html></script><template type=f>

<Props slotclass></Props>

<Template>
    {% if global.page %}
        <meta charset=utf8>
        <title>{{ global.page.page_title }}</title>
        {% if global.page.extra_style %}
            <style>{{ global.page.extra_style }}</style>
        {% endif %}
    {% endif %}
    <nav class="page-nav">
        <ul>
            {% for row in global.definitions.contentlist.data %}
                {% if row|get:2 %}
                <li><a class="nav-link--{{ row|get:1|trim|lower }}"
                    href="{{ row|get:0 }}" title="{{ row|get:1 }}">{{ row|get:2 }}</a></li>
                {% else %}
                <li><a href="{{ row|get:0 }}">{{ row|get:1 }}</a></li>
                {% endif %}
            {% endfor %}
            {% for row in global.definitions.navlinks.data %}
                <li><a href="{{ row|get:0 }}">{{ row|get:1 }}</a></li>
            {% endfor %}
            
            <li style="margin-left: auto">
                <a style="padding:3px;"href="https://modu.lol/Modulo.html" download="Modulo.html">&darr; Modulo.html</a>
                <textarea title="Run this command in a terminal to start a new Modulo project" style="background:var(--bg);color:var(--fg);border:none;width:200px;resize:none;font-size:18px;height: 25px" readonly>npm init modulo</textarea>
            </li>

            <li>
                <x-PageControls></x-PageControls>
            </li>
        </ul>
    </nav>

    <a class="a-hamburger" href="#">&#x2630;</a>

    {% if global.page %} {% if global.page.show_splash %}
        <div class="page-splash">{{ page_splash|trimfile|safe }}</div>
    {% endif %} {% endif %}

    {% if not global.page %}
        {# Default to "slot" #}
        <slot class="{{ props.slotclass }}"></slot>
    {% else %}
    <div class="page-container page--{% if global.page %}{{ global.page.theme|default:'normal' }}{% endif %}">
        {# Show page meta info #}
        <h1>{{ global.page.page_title|default:'' }}</h1>
        <h4>{{ global.page.page_author|default:'' }}</h4>

        {# Show body #}
        {% if global.page.body|trim %}
        <div class="markdown-page">
            {{ global.page.body|syntax:"md"|safe }}
        </div>
        {% endif %}

        {# Show all articles #}
        {% if global.page.bottomlist is "articles" %}
        {% for article in global.definitions.articlelist.files %}
        <article class="page-article">
            <a class="page-article-title u--blocklink"
                 href="{{ article.Source }}">
                {{ article.page_title }}</a>
            <p>{{ article.desc }}</p>
        </article>
        {% endfor %}
        {% endif %}
    </div>
    {% endif %}
    
    <footer class="page-container" style="display: flex;">
        <div>
            <h2>ᵐ°dᵘ⁄o</h2>
        </div>
        <ul style="display:grid; grid-template-columns: 1fr 1fr; font-size: 1.1rem">
            {% for row in global.definitions.contentlist.data|combine:global.definitions.navlinks.data %}
                <li><a href="{{ row|get:0 }}">{{ row|get:1 }}</a></li>
            {% endfor %}
        </ul>
        <div style="margin: auto 10px 10px auto; text-align: right; opacity:0.5">
            <p>{{ global.config.date }}</p>
            <p>ᵐ°dᵘ⁄o <em>The Modulo Framework</em> &copy; <tt title="Michael Bethencourt">michaelb</tt></p>
<pre title="It is acceptable to link ('bundle') and distribute the Modulo Framework with other code as long as the LICENSE and NOTICE remains intact."
>NO WARRANTEE OR IMPLIED UTILITY;
ANY MODIFICATIONS OR DERIVATIVES OF
THE MODULO FRAMEWORK MUST BE LGPLv3+</pre>
</div>
    </footer>
</Template>

<Style -src=Page-style.css.htm></Style>

<StaticData -data-type=txt -name="page_splash" -src="./Page-splash.html"></StaticData>

<!-- Themes -->
<Style>
.page--normal {
    min-height: calc(100vh - 380px); /* push down footer */
}
.page--grid .markdown-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.page--grid .markdown-page > p,
.page--grid .markdown-page > h2 {
    display: none;
    position: absolute;
}
</Style>

<Style prefix=".markdown-page">
    p {
        line-height: 1.6;
        font-size: 18px
    }
    h2[h] {
        margin: 60px 0 0 0;
        font-family: sans-serif;
        font-weight: 500;
    }
    h2[h='#'] {
        font-size: 64px;
    }
    h2[h='##'] {
        font-size: 46px;
    }
    h2[h='###'] {
        font-size: 30px
    }
    h2[h='#'],
    h2[h='##'] {
        text-align: center;
    }
    code, tt {
        background: #88888855;
    }
    hr {
        border: 0.5vw solid #88888855;
        margin: 5vw 30% 5vw 30%
    }
</Style>
