<meta charset=utf8><script src=../Modulo.html></script><template type=f>

<div style="font-family: sans-serif;
    box-shadow: 10px 50px 30px 0 inset var(--bg-semi);
    background: 
        repeating-linear-gradient(
        to bottom,
        var(--bg-semi) 0px,
        var(--bg-semi) 1.5px,
        #ffffff00 1.5px,
        #ffffff00 9.3px
    ),
    linear-gradient(var(--bg), var(--color-alt)); margin:20px">

<div style="position:absolute;z-index:2; left: 800px; width: 700px; top: 60px">
    <p style="font-family: serif; font-weight: 500; font-size: 25px;
padding:50px"><strong><em>An inviting web framework...</em></strong><br />
<a href="https://modulo.codeberg.page/modulo-starter/static/Modulo.html"
download="Modulo.html">Modulo.html</a> is a light and fast web framework. Zero
set-up or installs means <em>everybody</em> can ramp-up like a pro.</p>
</div>


<!--<x-WordArt3D text="Create with"></x-WordArt3D>-->
<div style="margin-top:-60px"></div>

<!-- Main Logo -->
<x-WordArt3D hstyle="font-size: 220px; font-family: sans-serif; font-weight: 200;" text="ᵐ°dᵘ⁄o"></x-WordArt3D>

<!-- top part -->
<div style="margin-top:-130px"></div>
    <x-AbstractArt3D style="margin: -60px -110px 0 -80px"></x-AbstractArt3D>
    <div style="margin: 30px; margin-top:-100px; padding:30px;
    padding-top:70px;background:var(--bg)">
    <div style="display:flex;">
    <!--<x-AbstractArt3D style="margin: -60px -100px 0 -80px"></x-AbstractArt3D>-->

        <div style=margin-right:100px>
            <div style="margin-top:-50px"></div>
            <x-WordArt3D text="**Markdown**"></x-WordArt3D>
            <div style="margin-top:-10px"></div>
            <x-Demo mode=html demo=markdown ui=edit value='
#### Show

[Tickets](#buy)

The *band* is on an
exciting tour...'></x-Demo>

        </div>

        <div style=margin-right:100px>
<div style="margin-top:-95px"></div>
            <x-WordArt3D text="HTML/CSS"></x-WordArt3D>
            <x-Demo mode=html demo=greetex ui=edit value='<Template>
  <p>
    HTML is
    <slot></slot>
  </p>
</Template>

<Style>
  p { color: #b08 }
</Style>'></x-Demo>
        </div>
        <div style=margin-right:100px>
<div style="margin-top:-150px"></div>
            <x-WordArt3D text="**JavaScript**"></x-WordArt3D>

<x-Demo mode=js demo=component ui=edit value='<Script>
  function add() {
    state.count++
  }
</Script>

<State
  count:=0
></State>

<Template>
  <button on.click=script.add>
    Hello {{ state.count }}
  </button>
</Template>'></x-Demo>


        </div>

        <div>
            <p
style="font-family:cursive;font-size:30px;opacity:0.5;padding:0;margin:0;
margin-right: -200px;width:250px; margin-top:90px; text-align: center">&larr;<br />Live editors: Try making
changes!</p>
        </div>
    </div>

</div>

<div style="float:right; max-width:65%; position:relative;z-index:2;">
    <div style="display:flex;">


    <p style="margin-top:30px;font-size:20px;text-align:center;width:300px"><a href="https://unpkg.com/create-modulo@1.0.0/build/modulo-starter.zip" download="modulo-starter.zip">
        <span style="font-size: 400%; background: #aaa" alt="archive emoji">&#x1f4e6;</span><br />
        <span style="font-size: 15px; color: var(--fg)"><tt>modulo-starter.zip (55kb)</tt></span></a></p>

    <p style="margin-top:30px;font-size:20px;text-align:center;width:300px"><a href="https://codeberg.org/modulo/docs/archive/main.zip"
            download="modulo-docs.zip">
        <span style="font-size: 400%; background: #aaa" alt="archive emoji">&#x1f4e6;</span><br />
        <span style="font-size: 15px; color: var(--fg)"><tt>modulo-docs.zip (250kb)</tt></span></a></p>
    <p style="margin-top:30px;font-size:20px;text-align:center;width:300px"><a href="https://app.unpkg.com/create-modulo@1.0.0/files/build/starter/static/Modulo.html" download="Modulo.html">
        <span style="font-size: 400%; background: #aaa" alt="file emoji">&#x1F4C4;
    </span><br />
        <span style="font-size: 15px; color: var(--fg)"><tt>Modulo.html (99kb)</tt></span><br />
    </a></p>
    </div>

    <p style="text-align:center"><em><strong>Hint:</strong>
         Download an above file to start a new Modulo project. If you prefer
NPX:</em>  <tt style="background:var(--bg);color:var(--fg)">npx create-modulo</tt></p>
        <!-- (easiest), or install with NPM:</strong>
        <tt>npm init modulo</tt></p>-->
</div>



     <p style="font-family:serif;font-size:25px;">Modulo (or ᵐ°dᵘ⁄o) is a single-file frontend framework,
        squeezing in numerous tools for modern HTML, CSS, and JavaScript develpment.
        Modulo includes many familiar and handy tools for modern web development,
        including Web Components, CSS Scoping, Shadow DOM, Jamstack / SSG / SSR,
        Markdown-powered CMS, Bundling, Store and State Management, and Templating.
    </p>



            <x-WordArt3D text="React 🔥_fast_"></x-WordArt3D>

       </div> <!-- close of green -->


<x-Demo style="float:right" mode=html demo=component ui=demo show=ui value='<Template>
  <section>
    <p><input state.bind name="text" title="Text" /></p>
    {% for index, point in state.points %}
      <label style="display: inline-block; width: 5%" title="Point #{{ index }}">
        <input state.bind.input name="points.{{ index }}.1"
            style="position: relative; transform: rotate(90deg); left: -60px; top: 60px"
            type="range" max="100" min="0" />
      </label>
    {% endfor %}
  </section>
  <div style="height: 150px; width:150px; border: 2px solid black; margin-top: 200px">
      <svg viewBox="0 0 100 100" style="width: 350px; margin-left: -55px; height: 250px;">
          <path id="curve" fill="transparent" d="M 10,50 C {{ state.points|join:&apos; &apos; }}" />
          <text><textPath href="#curve">{{ state.text }}</textPath></text>
      </svg>
  </div>
</Template>
<State
    text="Outside the box!"
    points:="[ [ 20,40 ], [40,10], [60,40], [80,70], [100,65], [120,90] ]"
></State>'></x-Demo>


<div style="margin: 30px; padding:30px;background:var(--bg)">
    <ul>
        <li><h4>Reactive Forms with State and Store</h4> Modulo's state
        subscription and publishing system allows any part of your site to
        instantly react to changing data.</li>

        <li><h4>Fast Web Components</h4> Modulo's web components use a DOM reconciler to
        compute minimum number of DOM changes for fast operations.</li>

        <li><h4>Compiled Templates</h4> Modulo's Template Language pre-compiles
        into JavaScript functions for maximum speed, discarding the source so
        it requires no further parsing or "eval" in production.</li>

        <li><h4>Deep UI Optimization</h4> Modulo is
        no a keeper of secrets.  Instead, every DOM patch gets exposed before
        being applied, enabling levels of per-component DOM control
        unparalleled in other frameworks.</li>
    </ul>
     <p><strong>Hint: Try using the "dark mode" and "theme customizer" switch at the
      top right of the page for a demonstration of page-wide reactions!</strong></p>
</div>


<x-WordArt3D text="{% include **everybody** %}"></x-WordArt3D>

<div style="margin: 30px; padding:30px;background:var(--bg)">


    <p><strong>No dependencies to include means <em>everybody</em> gets
        included!</strong></p>

    <ul>
        <li><h4>Clients will love you</h4>
        During crucial moments when gathering feedback on in-progress work and
creative projects from others --- clients, team-members, bosses, friends,
family, whomever --- it's as easy as zipping up your in-progress folder and
sending it over. All they need is a web browser and the ability to unzip and
open files, and they'll be seeing the same in-progress work as you, no
matter their OS, browser, or set-up.</li>

        <li><h4>0-Day onboarding</h4> 0 dependencies means 0 installs means
        0 setup... which means you and your team will be developing as soon as
          the fingers hit the keyboard! With  Modulo's <em>actually serverless</em>
            approach, there's no need for Babel, NPM, Node.js, node_modules,
        local dev servers, command-line installs, or other "set-up"
        steps to get to work. <strong>Download, unzip, and away we
        click!</strong></li>


        <li><h4>Go off-line; keep your creature comforts</h4> Modulo is one of the only UI and static-site
        generating framework for developing file-protocol friendly (meaning:
        "fully offline"), dependency-free websites that build into fast,
        performant sites, with all the modern capabilities we expect in app
        development.</li>

    </ul>

</div>

<x-WordArt3D text="One file to  **build** 🏗️  them all"></x-WordArt3D>
<!--
<x-Demo style="float:right; min-width: 580px;" mode=html demo=embed ui=demo show=ui
value='<script src=static/Modulo.html></script><script type=md>---
title: Lorem Ipsum
author: Example Author
extra_style:
    strong {
        background: pink;
    }
date: January 1st 2026
---



#### A brand new page of content is just one line away


All you need to do is include `Modulo.html` with one line on the top of a file,
and your project&apos;s components will automatically with styles included.


**Hint:** Select **CODE** from the drop-down at the upper-right
corner of this box, and examine **Line #1**






'></x-Demo>
-->

<div style="margin: 30px; padding:30px;background:var(--bg)">
    <ul>
        <li><h4>Building and Bundling</h4> Modulo comes with a built-in
        build-tool that bundles, trims, and optimizes your JavaScript, CSS, and HTML
        for near-instant load times without sacrificing capability or
        interactivity.</li>

        <li><h4>Static Sites with Vanishing Components</h4> Modulo's "vanish" component mode
        enables entirely JavaScript-free static sites. By combining that with
        inline JavaScript, you can create paradoxically interactive static-sites where your
        script tags <em>vanish</em> during build!</li>

        <li><h4>Jamstack with Server-Side Rendering</h4> Modulo
        can be run server-side as well, and it's build command will automatically
        pre-render or "dehydrate" web components, preparing them to be
        "re-hydrated" on page load with JavaScript functionality and fresh API
        data</li>

        <li><h4>Single File Framework</h4> <a
        href="https://app.unpkg.com/create-modulo@1.0.0/files/build/starter/static/Modulo.html" download="Modulo.html">Modulo.html</a> is a single file under 2000
        lines that acts like both an HTML file and JS file rolled into one,
        tightly-optimized for maximum code re-use and to trim away build-time
        overhead.</li>

        <li><h4>Literate Code</h4> Modulo.html <em>literally</em> documents
itself! When viewed in the browser, it provides it's own help menu and
3 project scaffolding presets. For a demonstration, try opening up <a
href="https://modu.lol/Modulo.html">Modulo.html</a> (should work either locally or online).
Try adding <a href="https://modu.lol/Modulo.html?argv=edit">?argv=edit</a> to
see the code displayed side-by-side with the documentation.</p>
    </ul>
</div>


</div>


