!DOCTYPE_MODULO(`
<!--
    Component definitions for the embedded editor and syntax highlighter are
    contained here.
-->

<script Configuration>
    // Provide "edit" command on pages
    modulo.register('command', function edit (modulo) {
        modulo.childData = { };
        //const currentPath = modulo.registry.utils.getPath(window.location);
        let url = (window.location.protocol === 'file:') ? 'file://' : window.location.origin;
        url += window.location.pathname; // Ignore get params, eg ?GET=params
        Object.assign(modulo.childData, modulo.fetchQueue.data);
        modulo.childData[url] = modulo.definitions._page.source;
        // Change URL to prevent auto-loading
        window.history.replaceState({ }, 'EDIT / ' + window.document.title, url);

        // Escape all double quotes
        const val = modulo.definitions._page.source.replace(/"/g, '&quot;');
        window.document.body.innerHTML = '<x-DemoEditor layout="fullscreen" value="' + val + '"></x-DemoEditor>';
    });
</script>

<Component name="DemoEditor">
    <Props
        layout
        value
        src
        preview
        example
        editex
        component
        collapsed
        includes
    ></Props>
    <Template
        -src="./DemoEditor/DemoEditor.html"
    ></Template>
    <State
        text=""
        editing:=null
        divider:=null
        divider-offset:=null
        runcount:=0
        font-size:=16
        show-menu:=null
        show-files:=null
        fullscreen:=true
    
    
        buffers:=[]
        selected-buffer:=-1
        browser-url="/app/index.html"
        component-name=""
        is-fetching:=null
        show-editor:=null
    ></State>
    <!--<VirtualBrowser></VirtualBrowser>-->
    <Script
        lifecyle="initialized"
        -src="./DemoEditor/DemoEditor.js">
        const isFile = window.location.protocol === 'file:';
        
        function _getDemoContent() {
            let url = isFile ? 'file://' : window.location.origin;
            url += window.location.pathname; // Ignore get params, eg ?GET=params
        	if (url in modulo.childData) {
        	    return modulo.childData[url];
            } else {
                return '<!DOCTYPE HTML><h1>Editor 404</h1><h2>Could not find:</h2>' + url;
            }
        }
        
        function demoMount({ el }) {
            el.innerHTML = '<iframe />'; // force add
            const iframe = el.firstChild;
            const doc = iframe.contentWindow.document;
            doc.open();
            doc.write(_getDemoContent());
            doc.close();
        }
        
        function demoUnmount({ el }) {
            el.innerHTML = '';
        }

        function run() {
            state.runcount++; // increment run count
        }
        
        function toggleFiles() {
            state.showFiles = !state.showFiles;
            state.showMenu = false;
        }

        function toggleMenu() {
            state.showMenu = !state.showMenu;
            state.showFiles = false;
        }
    </Script>
    <Style
        -src="./DemoEditor/DemoEditor.css"
    ></Style>
</Component>

<Component name="SyntaxEditor" rerender="manual">
    <Props
        value
        name
        fast
        spellcheck
        component
        fontsize
        readonly
    ></Props>
    <Template
        -src="./SyntaxEditor/SyntaxEditor.html"
    ></Template>
    <State
        selection-start:=0
        scroll-top:=0
        scroll-left:=0
        width:=0
        height:=0
        value=""
        received-value:=null
    ></State>
    <!-- TODO -- is initialized needeD? -->
    <Script
        lifecyle="initialized"
        -src="./SyntaxEditor/SyntaxEditor.js"
    ></Script>
    <Style
        -src="./SyntaxEditor/SyntaxEditor.css"
    ></Style>
</Component>

<Component name="SyntaxHighlighter">
    <Props
        value
        mode
        fix
    ></Props>
    <!--
    <Script -src="./SyntaxHighlighter/highlight/highlight.min.js">
        modulo.register('util', function syntaxHighlight(text, opts) {
            return hljs.highlight(text, opts).value;
        });
    </Script>
    -->
    <Script
        -src="./SyntaxHighlighter/SyntaxHighlighter.js"
    ></Script>
    <Style
        -src="./SyntaxHighlighter/custom-scheme.css"
    ></Style>
</Component>

`)
