<!DOCTYPE html><meta charset=utf8><script src=static/Modulo.html></script><script type=md>---
title: Playground
unused: [For more code snippets, check out: `playground-all.html`](./playground-all.html)
---

# Playground


**To see and edit the source code, select "CODE" or "EDIT" from the drop down
in the upper right of each example.**

---

## Component Examples

In this section you will find a several component examples. The content of
these code samples can be put into any `<Component>` definition.


##### Example 1 - ToDo MVC

```html=component
<Template>
  <ol>{% for item in state.list %}
    <li>{{ item }}{% endfor %}
    <li><input state.bind name=text>
      <button on.click=script.add>
        Add</button>
  </ol>
</Template>
<State
  text="Coffee"
  list:='["Bread","Butter"]'
></State>
<Script>
  function add() {
    state.list.push(state.text)
    state.text = ''
  }
<-Script>
```


##### Example 2 - Accordion Widget

```html=component
<Template>
    <select state.bind name="val">
        <option value="top">View Top</option>
        <option value="bottom">View Bottom</option>
    </select>
    <article class="{% if state.val is 'top' %}active{% endif %}">
        <h1>Top</h1>  {% include top %}
    </article>
    <article class="{% if state.val is 'bottom' %}active{% endif %}">
        <h1>Bottom</h1>  {% include bottom %}
    </article>
</Template>
<Template -name="bottom"><p>Bottom content</p></Template>
<Template -name="top"><p>Top content</p></Template>
<State
    val="top"
></State>
<Style>
    article {
        overflow: hidden;
        transition: height 0.5s;
        padding: 5px;
        height: 0;
        border: groove 4px #88888888;
    }
    article.active { height: 120px; }
</Style>
```


#### Example 3: Search API

```js=component
<Template>
    <form on.submit=script.doSearch>
        <input state.bind name=search>
        <button on.click=script.doSearch>Submit</button>
    </form>
    {% if state.results is null %}<strong>Loading</strong>{% endif %}
    <ol>{% for item in state.results %}<li>{{ item.title }}</li>{% endfor %}</ol>
</Template>
<State
    search="MacBeth"
    results:=[]
></State>
<Script>
    const API = 'http://openlibrary.org/search.json?q='
    const OPTS = '&limit=20&fields=title'
    async function doSearch() {
        state.results = null
        state.results = (await (await fetch(API + state.search + OPTS)).json()).docs
        element.rerender()
    }
<-Script>
<Style>* { font-size: 110%; padding: 30px; box-shadow: 0 0 10px #88888888; }</Style>
```


### Example 4: Sortable CSV Table

```js=component
<Template>
  <section style="grid-template-columns:{% for header in staticdata|first %}
          {% if header is 'Supply Chain' %}5fr{% else %}1fr{% endif %}
      {% endfor %}">
    {% for i, header in staticdata|first %}
        <button on.click=script.sort payload={{i}}>
            {% if state.sort is i %}&darr;{% endif %}{{ header|trimfile }}
        </button>
    {% endfor %}
    {% for row in staticdata|skipfirst|sorted:state.sort %}
        {% for col in row %}<div>{{ col }}</div> {% endfor %}
    {% endfor %}
  </section>
</Template>
<State
    sort="0"
></State>
<StaticData
    -data-type=csv
    -src="static/demos/co2.csv.htm"
></StaticData>
<Script>
    function sort(index) {
        state.sort = index
    }
<-Script>
<Style>
    div { border-bottom: 1px dotted black; padding: 2px; }
    section { display: grid; width: 100%; }
</Style>
```


---

## Page Examples

In this section you will find a several full page examples.

**The content of these code samples represent the entirity of an HTML file, and
can be put directly into an HTML file.** Note that for HTML Pages, they _can
be_ either embedded in a larger HTML file, or be the entirity of the file. For
Markdown Pages, however, they _must be_ the entirity of the file (that is, Modulo
will not refrain from automatically render the Markdown page if there is other
HTML content or Modulo definitions -- you will have to manually do this).


##### Page Example 1 - HTML Page


```html=embed
<script Modulo src=Modulo.html>
    <Component name=Page>
        <Style>:host { display: block; background: Pink; }</Style>
    </Component>
<-script>
<x-Page>
    <h1>Lorem ipsum dolor set modulo lorem ipsum moduloum dolor set modulo</h1>
</x-Page>
```


##### Page Example 2 - HTML Page (Static Auto-Import)


```html=embed
<script src=static/Modulo.html><-script>
<x-Page>
    <h1>Lorem ipsum dolor set modulo lorem ipsum moduloum dolor set modulo</h1>
</x-Page>
```


##### Page Example 3 - Markdown-HTML Page

```html=embed
<script src=Modulo.html><-script><script type=md>---
NOTE: Modulo will render this with a plain default theme.
example: meta-data
example-multiline:
    123
    abc
    do re mi
example2: More meta data
---
Lorem ipsum dolor set modulo lorem ipsum moduloum dolor set modulo
```


##### Page Example 4 - Markdown-HTML Page (Static Auto-Import)

```html=embed
<script src=static/Modulo.html><-script><script type=md>---
NOTE: The difference is the "static/Modulo.html" above!
example: meta-data
example-multiline:
    123
    abc
    do re mi
example2: More meta data
---
Lorem ipsum dolor set modulo lorem ipsum moduloum dolor set modulo
```


##### Page Example 5 - Markdown-HTML Page (Remote Static Auto-Import)

If CORS permits, you can even do an implicit auto-import directly from an
absolute URL:

```html=embed
<script src=https://modulo.codeberg.page/modulo-starter/static/Modulo.html><-script><script type=md>---
example: ABC
---
Lorem ipsum dolor set modulo lorem ipsum moduloum dolor set modulo
```


---


_Continue learning with Modulo's Documentation, which has many more interactive "playground" examples..._

## [Continue to DOCS](./docs.html)




