:root {
    /* Include global CSS variables here */
    --color: indigo;
    --color-bg: white;
    --color-fg: black;
}


/* Global styling can be applied here */
html {
    line-height: 1.15;
}

/* Prevent horizontal scroll-bar */
body,
html {
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
}


/* Some custom styling: */

h1 {
    font-size: 1.5rem;
    background: var(--color);
    color: var(--color-bg);
    padding: 2rem;
    font-family: sans-serif;
}

