!DOCTYPE_MODULO(`

.toolbar--small button {
    position: relative;
    z-index: 10;
    border-radius: 100px;
    min-width: 110px;
    margin-bottom: 10px;
    min-height: 110px;
    font-size: 150%;
    right: 70px;
    top: -10px;
    transition: top 0.1s, left 0.1s, opacity 0.1s, color 0.1s;
	color: #ffffffff;
    text-shadow: 0 0 2px var(--color);
}

.toolbar--small.toolbar--autohide button.tb-button--menu {
    top: -20px;
    right: 70px;
    opacity: 1.0;
	color: #ffffffff;
    text-shadow: none;
}
.toolbar--small button.tb-button--menu span {
	font-size: 3rem;
}

.toolbar button span {
    display: block;
    font-size: 200%;
    font-weight: bold;
    transition: text-shadow 0.5s;
    text-align: center;
    text-shadow:
        3px 3px 0 var(--color),
        -3px -3px 0 #88888888;
}
.toolbar--small button.toolbar--selected span {
    text-shadow:
        0 0 5px var(--color),
        0 0 0 #88888888;
}
.toolbar h3 {
    font-family: monospace;
    text-align: center;
    font-size: 2vw;
    margin-bottom: 0;
    color: white;
    --color: #B90183;
    text-shadow: 0 0 2px var(--color);
}

/* Remove padding from right side demo-area */
.demo-area {
    padding: 0 !important;
}

`)
