!DOCTYPE_MODULO(`
    {# Split view (editor on left, divider with 3 buttons, demo on right) #}
    <div class="pane-holder {% if state.fullscreen %}pane-holder--fullscreen{% endif %}" style="
            {#--demo-height: 120px;#}
            --right-width: {{ state.divider|multiply:'-1'|add:state.divider-offset }}px;
            --divider-width: 45px;
            --divider-height: 35px;">

       
        <div class="pane pane--left pane--subpane-holder">
            {% if state.show-files %}
                <div class="subpane">
                        <div class="toolbar toolbar--settings">
                    {% for file in script.files %}
                            <div class="control-section">
                                <tt>{{ file.relpath|default:file.path }}</tt>
                            </div>
                    {% endfor %}
                        </div>
                </div>
            {% elif state.show-menu %}
                <div class="subpane">
                    <div class="toolbar toolbar--settings">
                        <div class="control-section">
                            <label>
                                <input [state.bind]="input" name="fontSize" type="range" min="8" max="40" step="2"
                                  title="Font Size"
                                />
                                <div class="font-preview">
                                    <span style="margin-top: -{{ state.fontSize|multiply:'0.3' }}px; font-size: {{ state.fontSize }}px !important;">
                                        {{ state.fontSize }}PX
                                    </span>
                                </div>
                            </label>
                        </div>
                        <div class="control-section">
                            <label class="label--divider" title="Divider location">
                                <input [state.bind]="input" name="divider" type="range" min="0" max="{{ state.dividerOffset }}" step="10" />
                                <span class="icon" alt="Side-to-side arrow icon">&#x21f9;</span>
                            </label>
                             <label>
                                <input [state.bind] name="fullscreen" type="checkbox" title="Full Screen" />
                                <span class="icon" alt="Arrow icons to corners to indicate full screen">{% if state.fullscreen %}⧈{% else %}⧆{% endif %}</span>
                            </label>
                        </div>
                    </div>
                </div>
            {% elif not script.buffer.is-fetching %}
                <div class="subpane {% if script.buffer.subpane-class %}usage-border {{ script.buffer.subpane-class }}{% endif %}">
                    {% if script.buffer.banner-class %}
                        <div class="{% if script.buffer.banner-class %}usage-banner {{ script.buffer.banner-class }}{% endif %}">
                            {{ script.buffer.title|default:''|upper }}
                        </div>
                    {% endif %}
                    {% if script.buffer.is-read-only %}
                        {# Render a "readonly" SyntaxEditor #}
                        <x-SyntaxEditor
                            [script.editor]
                            readonly="readonly"
                            readonly-value="{{ script.buffer.value }}"
                            style="height: 100%;"
                            fontsize="{{ state.fontSize }}"
                        ></x-SyntaxEditor>
                    {% else %}
                        {# Add a SyntaxEditor, directly bound to the state's value #}
                        <x-SyntaxEditor
                            [script.editor]
                            [state.bind]
                            name="buffers.{{ state.selected-buffer }}.value"
                            style="height: 100%;"
                            fontsize="{{ state.fontSize }}"
                        ></x-SyntaxEditor>
                  {% endif %}
                </div>
            {% else %}
                <strong style="display: block; text-align: right; opacity: 0.3">[ Loading ]</strong>
            {% endif %}
        </div>
        
         <div class="pane pane--divider">
            <div class="toolbar toolbar--small {% if not state.show-menu %}toolbar--autohide{% endif %}">
                {#<button @click:=script.save><span alt="Download arrow downward">&#10515;</span> Save</button>#}
                <button @click:=script.toggleFiles><span alt="Box with horizontal rows icon">&#x25A4;</span> Files</button>
                <button @click:=script.run style="align-self: flex-end"><span alt="Refresh arrow in circle">&#x27F3;</span> Run</button>
                <button
                    @click:=script.toggleMenu
                    class="{% if state.show-menu %}toolbar--selected{% endif %}"
                ><span alt="Dots menu icon">&#x22EF;</span> Menu</button>
                <button onclick="window.location = window.location + '?argv=edit'">REFRESH</button>
            </div>
        </div>

        <div class="pane pane--right">
            <div class="demo-area" [script.demo]="{{ state.runcount }}"><iframe /></div>
        </div>
    </div>


`)

