modulo-Editor select{width:100%}modulo-Editor modulo-grid{width: 100%;
display: grid}@media (max-width:992px){modulo-Editor modulo-grid{display:block}}
._component_Page:is(p) {line-height:1.6;font-size:18px}
._component_Page:is(h2[h]) {margin:60px 0 0 0;font-family:sans-serif;font-weight:500;}
._component_Page:is(h2[h='#']) {font-size:64px}._component_Page:is(h2[h='##']) {font-size:46px;}._component_Page:is(h2[h='###']) {font-size:30px}
._component_Page:is(h2[h='#']), ._component_Page:is(h2[h='##']) {text-align:center}._component_Page:is(code) {background:#88888855}
._component_Page:is(hr) {border:0.5vw solid #88888855;margin:5vw 30% 5vw 30%}
.Page:is(.layout) {
        --sidebar-width: 260px;
        width: 100%;
        display: grid;
        grid-template-columns: var(--sidebar-width) 1fr;
        font-family: sans-serif;
        color: var(--fg);
    }
.Page:is(.page-container), 
.Page:is(.page-nav) {
        display: block;
        padding: 20px;
        margin: 4px;
    }
.Page:is(.page-nav) {
        border: 1px solid var(--fg);
    }
.Page:is(.page-nav a) {
        color: var(--fg);
        text-decoration: none;
        display: inline-block;
        border: 1px solid var(--bg);
        padding: 0 5px 0 5px;
    }
.Page:is(.page-nav .toc--inactive) {
        list-style: circle;
    }
.Page:is(.page-nav .toc--active) {
        list-style: disc;
        color: var(--color);
    }
.Page:is(.page-nav .toc--outer) {
        margin: 0 0 0 -20px;
        list-style: none;
    }
.Page:is(.page-nav h3) {
        font-size: 1.05rem;
        font-weight: 600;
        margin: 10px 2px 2px 0;
    }
.Page:is(.page-nav .toc--active a) {
        border-color: var(--color);
    }
.Page:is(.page-nav a:hover) {
        border-color: var(--color);
    }
.Page:is(.page-nav ul) {
        margin: 0;
        margin-left: -20px;
    }
@media (max-width: 992px) {
.Page:is(.page-container), 
.Page:is(.page-nav) {
            padding: 4px;
            margin: 2px;
        }
.Page:is(.layout) {
            --sidebar-width: 200px;
        }
    }
@media (max-width: 576px) {
.Page:is(.layout) {
            display: block;
        }
.Page:is(.page-nav a) {
            font-size: 110%;
            display: block;
            margin: 5px;
            padding: 5px;
            text-decoration: underline;
        }
    }


.markdown-body .TOP { } 


.markdown-body p,
.markdown-body li {
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 0;
    margin-top: 5px;
    font-size: 1.1rem;
    font-family: serif;

    color: var(--fg);
    line-height: 1.7;
    font-weight: 400;
}

.markdown-body a {
    color: var(--fg);
    text-decoration: none;
    border-bottom: 2px dashed var(--color);
    font-family: sans-serif;
}

.markdown-body a:hover {
    border-bottom: 2px solid var(--color);
}

.markdown-body h1 {
    margin: 0;
    padding: 100px 0 35px 0;
    font-size: 2.5rem;
    font-weight: 800;
}

.markdown-body h2 {
    margin: 0;
    padding: 80px 0 22px 0;
    font-size: 2.0rem;
    font-weight: 700;
}

.markdown-body h3 {
    margin: 0;
    padding: 60px 0 10px 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.markdown-body h4 {
    margin: 40px 0 2px 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.markdown-body h5,.markdown-body h6 {
    text-transform: uppercase;
    padding-left: 10px;
    border-left: 10px solid var(--color);
}

.markdown-body h5 {
    margin: 40px 0 2px 0;
    font-size: 1.15rem;
    font-weight: 500;
}

.markdown-body h6 {
    margin: 10px 0 2px 0;
    font-size: 1rem;
    font-weight: 400;
}

.markdown-body img {
    max-width: 89%;
    margin: 1px 5% 1px 5%;
    padding: 0;
    border-radius: 5px;
    border: 1px solid var(--fg);
}

.markdown-body blockquote {
    max-width: 33%;
    float: right;
    border: 1px solid var(--fg);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    line-height: 1.4;
    font-size: 1.05rem;
}

.markdown-body h1 ~ blockquote,
.markdown-body h2 ~ blockquote {
    margin-top: 100px; 
}
.markdown-body h3 ~ blockquote,
.markdown-body h4 ~ blockquote,
.markdown-body h5 ~ blockquote,
.markdown-body h6 ~ blockquote {
    margin-top: 40px; 
}

.markdown-body blockquote > p > strong:first-child {
    color: var(--color);
    display: inline-block;
    border-left: 5px solid var(--color);
    padding-left: 6px;
    left: -11px;
    margin-right: 5px;
    position: relative;
    font-family: sans-serif;
}

.markdown-body blockquote p {
    line-height: 1.4;
    font-size: 0.98rem;
}

.markdown-body code {
    background: #88888844;
    margin: 0 1px 0 1px;
    display: inline-block;
}


.markdown-body > iframe,
.markdown-body > x-SyntaxHighlighter,
.markdown-body > x-QuickDemo,
.markdown-body li > x-SyntaxHighlighter {
    border: 1px solid var(--fg);
    border-radius: 10px;
    margin: 10px;
    display: block;
    padding: 3px;
}

.markdown-body > x-SyntaxHighlighter,
.markdown-body li > x-SyntaxHighlighter {
    display: inline-block;
    padding: 10px;
}

@media (max-width: 992px) {
.markdown-body blockquote {
        max-width: none;
        float: none;
        clear: both;
    }
}

x-Search iframe {
        border: none;
        width: 100%;
    }
x-Search h2 {
        font-size: 40px !important;
        margin: 0 !important;
        font-weight: 400;
        font-family: serif;
        display: inline-block;
        padding-right: 20px;
    }
x-Search h2 span:nth-child(even) {
        color: var(--color)
    }
x-Search h2 span:nth-child(odd) {
        color: var(--color-alt)
    }
x-Search input,x-Search button {
        font-size: 30px;
    }
x-Search ul {
        margin: 0;
        margin-left: -20px;
    }
x-Search li {
        grid-template-columns: 1fr 2fr;
        margin-top: 10px;
    }
x-Search li a {
        font-size: 30px;
    }
@media (max-width: 992px) {
x-Search .page-container,
x-Search .page-nav {
            padding: 4px;
            margin: 2px;
        }
x-Search .layout {
            --sidebar-width: 200px;
        }
    }
@media (max-width: 576px) {
x-Search .layout {
            display: block;
        }
x-Search .page-nav ul {
            margin-left: 0;
            font-size: 110%;
        }
    }

x-SyntaxHighlighter {
        font-family: monospace;
        text-align: start;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        box-sizing: border-box;
        display: block;
    }


/*

Based on Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

x-SyntaxHighlighter .hljs {
  color: var(--fg);
}

x-SyntaxHighlighter .hljs-comment,
x-SyntaxHighlighter .hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

x-SyntaxHighlighter .hljs-doctag,
x-SyntaxHighlighter .hljs-keyword,
x-SyntaxHighlighter .hljs-formula {
  color: var(--fg);
  font-weight: bold;
}

x-SyntaxHighlighter .hljs-keyword {
  color: #e45649;
}

x-SyntaxHighlighter .hljs-section,
x-SyntaxHighlighter .hljs-selector-tag,
x-SyntaxHighlighter .hljs-deletion,
x-SyntaxHighlighter .hljs-subst {
  color: #e45649;
}

x-SyntaxHighlighter .hljs-tag {
    color: var(--bg-inv-semi);
    font-weight: bold;
}

x-SyntaxHighlighter .hljs-name {
    color: var(--bg-inv-semi);
    font-weight: lighter;
    
}

x-SyntaxHighlighter .hljs-modulo-deftype,
x-SyntaxHighlighter .hljs-modulo-deftype-attr {
    color: var(--color);
    font-weight: normal;
}
x-SyntaxHighlighter .hljs-modulo-deftype {
}



x-SyntaxHighlighter .hljs-modulo-component-tag {
    color: var(--fg);
    font-weight: bold;
}

x-SyntaxHighlighter .hljs-modulo-attr-value-lit {
  /*color: var(--fg);
  text-decoration: underline;*/
  font-weight: normal;
  color: #0184bb;
}

x-SyntaxHighlighter .hljs-literal {
  color: #0184bb;
}


x-SyntaxHighlighter .hljs-string,
x-SyntaxHighlighter .hljs-regexp,
x-SyntaxHighlighter .hljs-addition,
x-SyntaxHighlighter .hljs-attribute,
x-SyntaxHighlighter .hljs-meta .hljs-string {
  color: #50a14f;
}

x-SyntaxHighlighter .hljs-variable,
x-SyntaxHighlighter .hljs-template-variable,
x-SyntaxHighlighter .hljs-type,
x-SyntaxHighlighter .hljs-selector-class,
x-SyntaxHighlighter .hljs-selector-attr,
x-SyntaxHighlighter .hljs-selector-pseudo,
x-SyntaxHighlighter .hljs-number {
  color: #986801;
}

x-SyntaxHighlighter .hljs-attr {
  color: var(--fg);
}

x-SyntaxHighlighter .hljs-symbol,
x-SyntaxHighlighter .hljs-bullet,
x-SyntaxHighlighter .hljs-link,
x-SyntaxHighlighter .hljs-meta,
x-SyntaxHighlighter .hljs-selector-id {
  color: var(--fg);
  font-weight: bold;
}


x-SyntaxHighlighter .hljs-modulo-attr-value {
  
  color: var(--fg) !important;
  font-weight: bold;
  
  border-radius: 2px;
}

x-SyntaxHighlighter .hljs-title {
  
}

x-SyntaxHighlighter .hljs-built_in,
x-SyntaxHighlighter .hljs-title.class_,
x-SyntaxHighlighter .hljs-class .hljs-title {
  color: #c18401;
}


x-SyntaxHighlighter .hljs-modulo-defprocessor {
  font-weight: normal;
  color: var(--fg);
}

x-SyntaxHighlighter .hljs-emphasis {
  font-style: italic;
}

x-SyntaxHighlighter .hljs-strong {
  font-weight: bold;
}

x-SyntaxHighlighter .hljs-link {
  text-decoration: underline;
}


x-MirrorEditor {
        display: block;
        position: relative;
        min-height: 1rem;
        min-width: 1rem;
        text-align: start;
        line-height: 1;

        
        --outline-color: #888888EA;
        --outline-width: 3px;
        --text-color: #151515;
    }

x-MirrorEditor .editor-wrapper {
        position: relative;
        height: 100%;
    }

x-MirrorEditor textarea {
        top: 0;
        left: 0;
        line-height: 1;
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        min-height: 1rem;
        height: 100%;
        font-family: monospace;
        text-align: start;
        resize: none;
        overflow-wrap: break-word;
        box-sizing: border-box;
        position: relative;
        background: none;
        color: #00000000 !important;
        caret-color: var(--text-color);
    }

x-MirrorEditor .editor-underlay-container {
        position: absolute;
        left: 0;
        overflow: hidden;
    }

x-MirrorEditor .editor-underlay-offset-wrapper {
        left: 0;
        position: absolute;
    }

x-MirrorEditor textarea:focus {
        outline: none !important;
        box-shadow: 0 0 0 var(--outline-width) var(--outline-color);
    }

x-TableOfContents {
        position: relative;
        display: block;
        z-index: 3;
    }

x-TableOfContents nav.sticky {
        position: fixed;
        right: 2px;
        top: 80px;
        width: 300px;
        z-index: 3;
        max-height: calc(100vh - 90px);
        overflow-y: auto;
    }

x-TableOfContents ul {
        padding: 10px;
        border: 1px solid black;
    }

x-TableOfContents li {
        margin-left: calc(30px * var(--level));
    }

x-TableOfContents a {
        grid-column: span 6;
        font-size: calc(1.0rem - var(--level) * 0.02rem);
        font-weight: calc(800  - var(--level)  * 100);
        color: var(--fg);
        text-decoration: none;
        border-bottom: 4px dotted var(--bg);
    }

x-TableOfContents a:hover {
        border-color: var(--color);
    }
x-TableOfContents a:selected {
        border-color: var(--color-alt);
    }

x-TableOfContents label {
        font-size: 0.8rem;
        padding: 0;
        font-weight: bold;
    }

x-TableOfContents label:hover {
        opacity: 1;
    }

x-QuickDemo {
        --divider-width: 45px;
        --divider-height: 35px;
        display: block;
        position: relative;
    }
x-QuickDemo .overlay {
        position: absolute;
        width: var(--demo-width);
        right: 0;
    }
x-QuickDemo .editor-layout {
        display: grid;
        grid-template-columns: auto var(--divider-width) var(--demo-width);
    }
x-QuickDemo iframe {
        
        border: none;
        width: var(--demo-width);
        background: #eee;
        color: black;
        min-height: 200px;
        border-radius: 0 5px 5px 0;
    }
@media (max-width: 992px) {
x-QuickDemo .editor-layout,
x-QuickDemo textarea,
x-QuickDemo {
            display: block;
            min-height: 200px;
        }
x-QuickDemo iframe {
            width: 99%;
        }
    }



x-QuickDemo .TOP { } 

x-QuickDemo .pane-holder {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr var(--divider-width) var(--right-width);
    grid-template-rows: 1fr;
}

x-QuickDemo .pane-holder--collapsed {
    display: block;
}

x-QuickDemo .pane-holder--collapsed .demo-area {
    justify-content: center;
    align-items: center;
}

x-QuickDemo .pane {
    display: block;
    height: 100%;
    background: var(--color-bg);
}


x-QuickDemo .pane--subpane-holder {
    position: relative;
}


x-QuickDemo .subpane {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

x-QuickDemo .demo-area {
    height: 100%;
    width: 100%;
    overflow: auto;
    background: var(--color-fg-light);
    padding: 15px;
}

x-QuickDemo .toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;
    padding: 2px;
    transition: background-color 0.8s;
}

x-QuickDemo .toolbar--settings {
    
    background-color: var(--color-alt);
    text-align: left;
}

x-QuickDemo .toolbar--settings button {
    text-align: left;
}

x-QuickDemo .toolbar--snippet {
    margin-bottom: -1000px;
    border-top: 7px dotted var(--color-fg-semi);
    justify-content: start;
}

x-QuickDemo .toolbar--autohide {
    border-left: 1px dotted var(--color-fg-semi);
}

x-QuickDemo .toolbar--autohide:hover {
    background-color: var(--color-alt);
}


x-QuickDemo .toolbar--autohide > button:first-child,
x-QuickDemo .toolbar--autohide > button:last-child {
    opacity: 0;
}


x-QuickDemo .toolbar--autohide:hover > button:first-child,
x-QuickDemo .toolbar--autohide:hover > button:last-child {
    opacity: 1.0;
}


x-QuickDemo .toolbar--autohide:hover > button:hover {
    opacity: 1.0;
}

x-QuickDemo .toolbar button,
x-QuickDemo .toolbar label,
x-QuickDemo .toolbar .control-section {
    color: var(--color-fg);
    font-weight: bolder;
    display: inline-block;
    border: 2px solid var(--color-fg);
    border-bottom-width: 4px;
    margin-bottom: -2px;
    border-radius: 1px 3px 1px 3px;
    background: var(--color-bg);
    padding: 8px 1px 8px 1px;
    text-transform: uppercase;
    box-shadow: 1px 1px 0 var(--color-fg);
    transition: box-shadow 0.3s,
                opacity 0.15s 0.5s,
                background 0.15s,
                border-color 0.2s;
}

x-QuickDemo .toolbar .control-section {
    padding: 0;
    padding-bottom: 3px;
    display: flex;
    flex-direction: row;
}
x-QuickDemo .toolbar .control-section label {
    flex-direction: row;
    display: flex;
}

x-QuickDemo .toolbar button {
    cursor: pointer;
}

x-QuickDemo .toolbar button span {
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 1;
}

x-QuickDemo span.icon {
    overflow: hidden;
    height: 20px;
    width: 80px;
    margin-left: 10px;
    display: block;
    border-radius: 10px;
    text-align: center;
    background: var(--color-bg);
    color: var(--color-fg);
    border: 2px solid var(--color-fg);
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.5;
}

x-QuickDemo .toolbar--small button {
    font-size: 0.7rem;
    text-align: center;
}

x-QuickDemo .toolbar.toolbar--settings label {
    border-radius: 1px;
    border-bottom-width: 1px;
}

x-QuickDemo .toolbar.toolbar--settings label,
x-QuickDemo .toolbar.toolbar--settings button {
    padding: 6px;
    border-color: var(--color-fg-light);
}

x-QuickDemo .toolbar.toolbar--settings .font-preview {
    overflow: hidden;
    height: 20px;
    width: 80px;
    margin-left: 10px;
    display: block;
    border-radius: 10px;
    text-align: center;
    color: var(--color-fg);
    border: 2px solid var(--color-fg);
}

x-QuickDemo .toolbar.toolbar--settings .font-preview > span {
    display: block;
    padding-top: 4px;
}

x-QuickDemo .toolbar button:visited,
x-QuickDemo .toolbar button:active,
x-QuickDemo .toolbar button.selected {
    text-decoration: none;
    color: black;
    display: block;
    font-weight: bold;
    background: var(--color);
}

x-QuickDemo .toolbar button.selected {
    border-color: var(--color);
    background: var(--color);
    box-shadow: 0 0 0 8px var(--color);
    color: var(--color-bg);
}

x-QuickDemo .toolbar button:hover {
    border-color: var(--color);
}

x-QuickDemo .usage-banner {
    position: absolute;
    top: -5px;
    right: -5px;
    background: var(--color-alt);
    padding: 5px 35px 5px 35px;
    color: var(--color-bg);
    font-weight: bolder;
    border-radius: 2px;
}

x-QuickDemo .usage-border {
    height: 100%;
    border: 5px dashed var(--color-alt);
    padding: 5px;
    position: relative;
}



x-QuickDemo .toolbar.toolbar--settings label:active span.icon,
x-QuickDemo .toolbar.toolbar--settings label:active .font-preview {
    background: var(--color-alt);
}

x-QuickDemo .toolbar--selected {
    background: var(--color-alt) !important;
}

@media (max-width: 992px) {
x-QuickDemo .pane-holder {
        min-height: 350px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr var(--divider-height) var(--demo-height);
    }

x-QuickDemo .toolbar {
        flex-direction: row;
        border: 1px dotted var(--color-fg-semi);
        border-left: none;
        border-right: none;
        padding: 0;
    }
x-QuickDemo .toolbar .control-section {
        flex-direction: column;
    }

x-QuickDemo .toolbar button {
        opacity: 1 !important;
        padding: 1px 30px 1px 30px; 
        color: var(--color-fg-semidark);
    }
x-QuickDemo .toolbar--small button {
        font-size: 1rem;
    }

x-QuickDemo .label--divider {
        display: none;
    }

    /*
x-QuickDemo .toolbar.toolbar--settings .font-preview {
        height: auto;
        display: block;
    }
    */
}


@media (max-width: 576px) {
x-QuickDemo .page-nav-right {
        display: none;
    }

x-QuickDemo .toolbar button {
        padding: 1px 5px 1px 5px; 
    }
x-QuickDemo .toolbar--small button {
        font-size: 0.9rem;
    }
}


    :root {
        --btn-shadow-dist: 4px;
        --btn-shadow-dist-neg: -4px;
        --color-fg-light: #00000011;
        --color-fg-semilight: #00000044;
        --color-fg-semi: #00000088;
        --color-fg-semidark: #000000DD;
        --color: #B90183;
        --color-alt: #a2e4b8;

        --font-serif: serif;
        --font-sans: sans-serif;
        --font-mono: monospace;

        --color: #B90183;
        --color-alt: #82d4a444;
        --fg: #000;
        --fg-shading: #05051020;
        --bg: #fff;
        --bg-semi: #ffffff99;
        --fg-inv: #fff;
        --fg-inv-shading: #ffffff20;
        --bg-inv: #000;
        --bg-inv-semi: #00000099;

        --color-fg: var(--fg);
        --color-bg: var(--bg);
        --color-content-bg: var(--bg);
        --color-outline: var(--fg-shading);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --btn-shadow-dist: 4px;
            --btn-shadow-dist-neg: -4px;
            --color-fg-light: #ffffff11;
            --color-fg-semilight: #ffffff44;
            --color-fg-semi: #ffffff88;
            --color-fg-semidark: #ffffffDD;
            --color-alt: #a2e4b8;
            --color-outline: #eee;
            --color-content-bg: black;
            --color-bg: black;


            --color: #B90183;
            --color-alt: #82d4a444;
            --fg: #eee;
            --fg-shading: #ffffff33;
            --bg: #000;
            --bg-semi: #00000099;
            --fg-inv: #000;
            --fg-inv-shading: #00000020;
            --bg-inv: #fff;
            --bg-inv-semi: #ffffff99;
        }
    }

    body {
        color: var(--color-fg);
        background-color: var(--color-content-bg);
        margin: 0;
        font-family: sans-serif;
    }

    /* Browser Reset */
    html, body {
        font-size: 17px;
        font-weight: 400;
        line-height: 1.4;
    }
