!DOCTYPE_MODULO(`

<Props
    value
    layout
    files
></Props>

<State
    text:=null
    menu:=null
    editing:=null
    viewing:=null
    runcount:=0
></State>

<Template -src="./parts/EditorBase.html"></Template>

<!--
    preview-mode="component"
    preview-element="x_DemoUsage"
-->
<VBrowser
></VBrowser>


<Style -src="./parts/EditorBase.css"></Style>

<State
    -name="info_state"
    buffers:='[ "usage", "component" ]'
    name="App"
    modulo-url="./static/js/Modulo.js"
></State>
<!--  base-class="window.parent.HTMLElement" -->
<!-- Basic preview mounter which creates a shadow DOM wrapped DemoUsage component. -->
<Template -file="index.html" -name="index_template" -default-view>
    <template Modulo>
        <Component name="DemoUsage"><Template -src="usage.html"></Template></Component>
        <Component name="{{ info_state.name }}" -src="component.html"></Component>
    </template>
    <script src="{{ info_state.modulo-url }}"></script>
    <x-DemoUsage></x-DemoUsage>
</Template>

<!-- Default "usage" and "component" -->
<script Template -file="usage.html" -name="usage_template"><x-{{ info_state.name }}></x-{{ info_state.name }}></script>
<script Template -file="component.html" -name="component_template" -default-edit><Template>Write your component here...</Template></script>

<Template -button="opts" -button-emoji="&#x22EF;" -name="menu_template">
    <div class="toolbar toolbar--settings">
        <div class="control-section">
            {% for buffer in info_state.buffers %}
                <button @click:=vbrowser.edit payload="{{ buffer }}.html">
                  {% if vbrowser.editing is buffer|add:'.html' %}
                    <span alt="Circle indicator icon">&bull;</span>
                  {% else %} <span alt="Empty space indicator icon">&nbsp;</span>
                  {% endif %} {{ buffer }} </button>
            {% endfor %}
            <label>
                <!--<input [info_state.bind] name="name" type="text" style="width: 50px; border: none; padding: 0" />-->
                <div class="font-preview">&lt;x-{{ info_state.name }}&gt;</div>
            </label>
        </div>
        <div class="control-section">
            <label>
                <input [state.bind]="input" name="vbrowser.settings.fontSize" type="range" min="8" max="40" step="2"
                  title="Font Size"
                />
                <div class="font-preview">
                    <span style="margin-top: -{{ vbrowser.settings.fontSize|multiply:'0.3' }}px; font-size: {{ vbrowser.settings.fontSize }}px !important;">
                        {{ vbrowser.settings.fontSize }}PX
                    </span>
                </div>
            </label>
        </div>
        <div class="control-section">
            <label class="label--divider" title="Divider location">
                <input [state.bind]="input" name="vbrowser.settings.divider" type="range" min="10" max="90" step="1" />
                <span class="icon" alt="Side-to-side arrow icon">&#x21f9;</span>
            </label>
             <label>
                <input [state.bind] name="vbrowser.settings.fullscreen" type="checkbox" title="Full Screen" />
                MAX
                <span class="icon" alt="Arrow icons to corners to indicate full screen">{% if vbrowser.settings.fullscreen %}⧈{% else %}⧆{% endif %}</span>
            </label>
        </div>
    </div>
</Template>

<!-- Re-run Button -->
<Template
    -button="run"
    -button-emoji="&#x27F3;"
    -button-click="vbrowser.refresh"
    -name="run_button_template"
><!-- Unused --></Template>

<!-- Single File / Quick Export Template -->
<!-- Note s=script swap, to make it easier to include script tag -->
<script Template
    -filter-content="tagswap:'s=script'"
    -button="save"
    -button-emoji="&#10515;"
    -button-click="vbrowser.saveSnippet"
    -button-payload="ModuloApp.html"
    -name="save_button_template"
><!DOCTYPE html>
<template Modulo>
<Component name="{{ info_state.name }}">
{{ vbrowser.files|get:'component.html'|safe }}
</Component>
</template>
<s src="https://unpkg.com/mdu.js"></s>
{{ vbrowser.files|get:'usage.html'|safe }}
</script>


`)
