!DOCTYPE_MODULO(`

<Props
    source
    chroot
    fields
></Props>

<Template>
    {% if props.source is "fs" %}
        <select [state.bind] name="view">
            <option value="icon">&#8759; Icons</option>
            <option value="list">&#8788; List</option>
        </select>
        <select [state.bind] name="sorting">
            <option value="name">Name</option>
            <option value="extension">Extension</option>
            <option value="timestamp">Modified</option>
        </select>
    {% endif %}
    <div class="ms-icon-container">
        {% for item in script.items %}
            <div class="ms-{{ state.view }}">
                {% if state.view is "icon" %}
                    <span class="ms-icon-char">{{ item.icon|safe }}</span>
                {% endif %}
                <span class="ms-label">{{ item.name }}</span>
            </div>
        {% endfor %}
    </div>
</Template>

<State
    sorting="name"
    view="icon"
    reversed:=false
></State>

<State
    -name="fs_store"
    -store="fs"
></State>

<Style>
    .ms-icon-container {
        display: flex;
        flex-wrap: wrap;
    }
    .ms-icon, .ms-list {
        text-align: center;
        font-family: sans-serif;
        margin: 10px;
        padding: 10px;
        background-color: var(--color-bg);
        border: 2px solid var(--color-fg);
        border-bottom-width: 4px;
        border-radius: 1px 3px 1px 3px;
        width: 150px;
    }
    .ms-list {
        width: 100%;
        display: block;
        text-align: left;
    }
    .ms-icon:hover {
        border-color: var(--color);
        cursor: pointer;
    }
    .ms-icon-char {
        font-size: 50px;
        display: inline-block;
        text-shadow: 3px 3px 0 var(--color), -3px -3px 0 #88888888;
    }
    .ms-label {
        display: block;
        word-break: break-all;
    }
    
</Style>

<Script>
    // TODO: Add to general register of types
    const icons = {
        css: '1F3A8',
        js: '2699',
        html: '1F4C3',
        modulo: '1F4D1',
        md: '1F4CB', // '1FAB6',
        txt: '1F5D2',
        png: '1F5BE',
        csv: '1F4CA',
        json: '1F5C3',
        zip: '1F4E6',
        '': '1F532',
        unknown: '1F518',
    };
    function _getIcon(extension, path) {
        extension = extension.toLowerCase();
        if (extension === 'html' && path.includes('/static/components')) {
            // Slightly more complex - might be Modulo file
            extension = 'modulo';
        }
        if (!(extension in icons)) {
            extension = 'unknown';
        }
        return '&#x' + icons[extension] + ';';
    }
    function prepareCallback() {
        let items = [];
        let fields = props.fields || null;

        if (props.source === 'fs') {
            if (!fields) {
                fields = [ 'icon', 'name', 'extension', 'is_viewing', 'is_editing' ];
            }
            items = fs_store.paths.map(path => {
                const name = path.replace(new RegExp('^.*/', ''), '');
                const extension = name.split('.')[1] || '';
                const dirname = path.substr(0, path.length - name.length);
                const size = fs_store.sizes[path];
                const timestamp = fs_store.timestamps[path];
                const icon = _getIcon(extension, path);
                return { path, name, icon, extension, dirname, size };
            });
        }
        if (props.chroot) {
            items = items.filter(obj => obj.path.startsWith(props.chroot));
        }
        console.log('itesm', items);
        items.sort((a, b) => {
            return String(a[state.sorting]).localeCompare(String(b[state.sorting]));
        });
        if (state.reversed) {
            items.reverse();
        }
        
        return { items, fields };
    }
    

</Script>

<!--
 style="--cols: {{ script.fields|length }}"
    .ms-data-grid--grid {
        display: grid;
        grid-template-columns: repeat(var(--cols), 1fr);
    }
        {% for item in script.fields %}
            <div class="ms-col-header ms-col--{{ item }}">{{ item }}</div>
        {% endfor %}
        {% for item in script.items %}
            {% for field in script.fields %}
                <div class="ms-row-item ms-row--{{ field }}">
                     {#  item|renderas:field_template #}
                     {{ item|get:field|safe }}
                </div>
            {% endfor %}
        {% endfor %}
        // Add in field templates
        /*fields = Object.fromEntries(fields.map(name => {
            let func = item => item[name];
            if (('field_template_' + name) in cparts) { // exists!
                func[name] = cparts['field_template_' + name];
            } else if (name === 'icon') {
                func = item => item[name]
            }
            return [ name, func ];
        }));*/
-->

`)
