!DOCTYPE_MODULO(`
<State
    text:=null
    menu:=null
    editing:=null
    viewing:=null
    runcount:=0
></State>

<Template -src="./parts/EditorBase.html"></Template>
<Style -src="./parts/EditorBase.css"></Style>
<Style -src="./parts/EditorBase-fileBrowser.css"></Style>

<VBrowser></VBrowser>

<Template
    -file="index.html"
    -name="file_index_template"
    -src="./samples/basic_index.html"
    -title="Welcome to my home on the World Wide Web"
    -default-view
    -default-edit
></Template>

<Template
    -file="projects.html"
    -name="file_about_template"
    -title="Learn about my projects"
    -src="./samples/basic_index.html"
></Template>

<Template
    -file="about.html"
    -name="file_about_template"
    -title="About my site"
    -src="./samples/basic_index.html"
></Template>

<Template
    -file="static/css/site.css"
    -name="file_site_css_template"
    -src="./samples/basic_site.css"
></Template>

<Template
    -file="static/js/main.js"
    -name="file_main_js_template"
    -src="./samples/basic_main.js"
></Template>

<Template -button="files" -button-emoji="&#x25A4;" -name="menu_template">
    <div class="toolbar toolbar--settings">
        {% for file, content in vbrowser.files %}
            <div class="control-section">
                <tt>{{ file }}</tt>
                {% if vbrowser.viewing is file %}[VIEWING]{% endif %}
                {% if vbrowser.editing is file %}[EDITING]{% endif %}
                <button @click:=vbrowser.edit payload="{{ file }}">Edit</button>
                <button @click:=vbrowser.view payload="{{ file }}">View</button>
                {#<tt>{ { file.relpath|default:file.path } }</tt>#}
            </div>
        {% endfor %}
    </div>
</Template>


<!-- Re-run Button -->
<Template
    -button="run"
    -button-emoji="&#x27F3;"
    -button-click="vbrowser.refresh"
    -name="run_button_template"
><!-- Unused --></Template>



`)
